body {
  font-family: "ff-tisa-web-pro", serif;
}

// Headings

h1 {
  background-color: $secondary-colour;
  color: $page-colour;
  font-weight: normal;
  padding: 0.25em 1em;
  margin: 0 -#{$small-padding};
}

h2 {
  color: $secondary-colour;
}

h3 {
  text-transform: uppercase;
}

h4, h5, h6 {
  color: $tertiary-colour;
}