body {
  font-family: "ff-tisa-web-pro", serif;
  margin: 0 auto;
  max-width: 45em;
}

// Headings

h1 {
  background-color: $secondary-colour;
  color: $page-colour;
  font-weight: normal;
  padding: 0.25em 1em;
  a:link {
    color: $page-colour;
  }

  a:visited {
    color: darken($page-colour, 10%);
  }

  a:focus,
  a:hover,
  a:active {
    color: lighten($page-colour, 20%);
  }
}

h2 {
  color: $secondary-colour;
}

h3 {
  text-transform: uppercase;
}

h4, h5, h6 {
  color: $tertiary-colour;
}