---
layout: default
title: Naga Style Prototype
---
  <h1>Style Prototype for <a href="http://naga.co.za">Naga</a></h1>
  <section class="swatches">
    <h2>Swatches</h2>
  <ul class="colours no-mp no-bull">
    <li>Current</li>
    <li class="primary-colour-swatch colour-swatch l-ib">&nbsp;</li>
    <li class="secondary-colour-swatch colour-swatch l-ib">&nbsp;</li>
    <li class="tertiary-colour-swatch colour-swatch l-ib">&nbsp;</li>
  </ul>
  </section>

  <section>
    <h2>Tyopgraphy</h2>

    <h3>With Adelle and Adelle Sans</h3>

    <div class="adelle">
      {% include text.html %}
    </div>

    <h3>With Freight Text Pro</h3>

    <div class="freight-text-pro">
      {% include text.html %}
    </div>

    <h3>With Freight Sans Pro</h3>

    <div class="freight-sans-pro">
      {% include text.html %}
    </div>

    <h3>With both Freight Pros</h3>

    <div class="freight">
      {% include text.html %}
    </div>

    <h3>With Jubilat</h3>

    <div class="jubilat">
      {% include text.html %}
    </div>

    <h3>With FontFont fonts</h3>

    <div class="ff">
      {% include text.html %}
    </div>

    <h3>With FontFont fonts - switched</h3>

    <div class="ff-switched">
      {% include text.html %}
    </div>

    <h3>With FF Tisa</h3>

    <div class="tisa">
      {% include text.html %}
    </div>

    <h3>With Apertura</h3>

    <div class="tisa">
      {% include text.html %}
    </div>


  </section>