<section>

  <p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip; and of course <a href="#">a link may appear</a> at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond. Some will include <code>code samples</code>.</p>

    <blockquote>
        <p>This text is quoted. A block of quoted text like this is particularly useful when presented as a pull-quote within an article of text.</p>
    </blockquote>

    <p>agh! iIl1 o0</p>

    <h3>agh! iIl1 o0</h3>

</section>